:root {
    --main-color: #1ec508;
    --secondary-color: #db7032;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

header {
    padding: 20px 35 px;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    z-index: 9999;
    text-decoration: none;
    justify-content: space-between;
    background-image: url("./images/background.jpg");
    background-size: cover;  
    background-position: center;
    background-position: 80%;
    height: 5%;
}

header h1 a {
    text-decoration: none;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(201, 194, 194, 0.8);
}

header h1 a:hover {
    color: var(--main-color);
    border-radius: 7px;
    text-shadow: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: bolder;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(202, 190, 190, 0.5);
    color: var(--main-color);
    text-decoration: none;
}

header nav ul li a:hover {
    color: var(--secondary-color);
    border-radius: 7px;
    text-shadow: none;
}

.hero {
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 70%;
    align-items: initial;
}

.hero-me img {
    max-width: 40%;
    max-height: 40%;
    margin-left: 75%;
    margin-top: 5%;
    opacity: 0.8;
    border-radius: 20px;
}

.aboutme {
    display: inline-flex;
    
}

.aboutmetitle {
    font-size: 100px;
    background: -webkit-linear-gradient( var(--main-color), var(--secondary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    display: inline-block;
    padding-bottom: 20px;
    text-align: center;
    margin: 50px;
   

}

.aboutmeinfo {
    font-size: 30px;
    padding: 50px;
    margin: 25px 25px;
    text-align: center;
    color: var(--main-color);
}


.worktitle {
    font-size: 100px;
    background: -webkit-linear-gradient( var(--main-color), var(--secondary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    display: inline-block;
    padding-bottom: 20px;
    text-align: center;
    margin: 50px;
}

.work {
    display: flex;
}




.grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 100% 100% 100% 100%;
    width: 90%;
    grid-gap: 50px;

}

.grid-item {
    border: 10px solid var(--main-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    margin-bottom: 200px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 25px;
    font-weight: bold;
    
    color: white;
}

.grid-container a:hover {
    color: black;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}
 
.item1 {
    background-image: url(./images/runbuddy.jpg);
    background-size: 215px;

}


.item2 {
    background-image: url(./images/javascript.jpg);
    background-size: 205px;
}

.item3 {
    background-image: url(./images/web.jpg);
    background-position: center;
}

.item4 {
    background-image: url(./images/3rdparty.jpg);
    background-position: center;
    background-size: 200px;
}



.grid-item a {
    text-decoration: none;
    color: white;
   
}

.resume {
    height: 50%;
    display: flex;
}

.resumetitle {
    font-size: 75px;
    background: -webkit-linear-gradient( var(--main-color), var(--secondary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    display: inline-block;
    padding-bottom: 20px;
    text-align: center;
    margin: 50px;
}

.resume-info {
    font-size: 25px;
    display: flex;
    color: green;
}

.resume-info h2 {
    margin:50px;
}



footer {
    background: linear-gradient(to right, var(--main-color), var(--secondary-color));
    height: 15%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}


footer div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

footer p {
    font-size: 75px;
}

footer a {
    text-decoration: none;
    font-size: 25px;
    padding: 25px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

footer a:hover {
    color: blue;
}
)
